.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form {
    width: 100%;
    max-width: 900px;
    padding: 50px;
    margin: 0 auto;
}
.login-form {
  width: 100%;
  max-width: 500px;
  padding: 50px;
  margin: 0 auto;
}
.welcome {
	display: flex;
	flex-direction: column;
	text-align: left;
}
.welcome h1 {
	color: red;
}
.welcome p::first-letter {
	text-transform: capitalize;
}
.content {
	margin-top: 30px;
  text-align: left;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2.25rem;
}
.card-body .button .btn {
  margin: 5px;
}
input, button, select, a {
  border-radius: 10px !important;
}
.form-group .btn.btn-warning {
  width: 250px;
  border-radius: 10px;
}
.card.Reg_form {
  border: 1px rgba(0,0,0,.125) !important;
}
